@use "colors";

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: colors.$black;
  color: colors.$white;
  padding: 8px;
}
